<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a href="/home" class="navbar-brand fw-bold">Real-time Search</a>
    <div class="d-flex " role="search">
      <a href="/userdashboard" class="btn btn-outline-primary mx-2">Your Analytics</a>
      <a href="/globaldashboard" class="btn btn-outline-success mx-2">Global Analytics</a href="/userdashboard">
    </div>
  </div>
</nav>
