<div class="container my-4">
  <h1 class="fw-bold">Global Analytics:</h1>

  <div class="tabs row my-4 column-gap-4" style="height: 250px;">
    <div class="col border border-primary-subtle p-4 d-flex flex-column justify-content-center align-items-center">
      1
    </div>

    <div class="col border border-primary-subtle p-4 d-flex flex-column justify-content-center align-items-center">
      2
    </div>

    <div class="col border border-primary-subtle p-4 d-flex flex-column justify-content-center align-items-center">
      3
    </div>

  </div>
</div>
