<input type="text" id="search-input" placeholder="Search...">
<div id="last-word-message" style="margin-top: 5px; color: blue;"></div>
<div id="search-message" style="margin-top: 10px; color: green;"></div>
