
<div class="mx-auto p-2 mt-5" style="width: 600px; margin-top: 300px;">
  <div class="header mb-4 text-center">
    <h1 class="fw-bold my-2">Real-time Search</h1>
    <p>Press Enter to "search"</p>
  </div>

  <input type="text" id="search-input" placeholder="Search..." style="width: 100%;">
  <div id="last-word-message" style="margin-top: 5px; color: blue;" class="my-2"></div>
  <div id="search-message" style="margin-top: 10px; color: green;" class="my-2"></div>
</div>
